<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FreelancingProject</display-name>
  <welcome-file-list>
    <welcome-file>signUp.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SignUpServlet</display-name>
    <servlet-name>SignUpServlet</servlet-name>
    <servlet-class>com.conn.servlet.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpServlet</servlet-name>
    <url-pattern>/SignUpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CanProfileServlet</display-name>
    <servlet-name>CanProfileServlet</servlet-name>
    <servlet-class>com.conn.servlet.CanProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CanProfileServlet</servlet-name>
    <url-pattern>/CanProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CandidateListServlet</display-name>
    <servlet-name>CandidateListServlet</servlet-name>
    <servlet-class>CandidateListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CandidateListServlet</servlet-name>
    <url-pattern>/CandidateListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CandidateDataServlet</display-name>
    <servlet-name>CandidateDataServlet</servlet-name>
    <servlet-class>com.conn.servlet.CandidateDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CandidateDataServlet</servlet-name>
    <url-pattern>/CandidateDataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ComProfileServlet</display-name>
    <servlet-name>ComProfileServlet</servlet-name>
    <servlet-class>com.conn.servlet.ComProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComProfileServlet</servlet-name>
    <url-pattern>/ComProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientDataServlet</display-name>
    <servlet-name>ClientDataServlet</servlet-name>
    <servlet-class>com.conn.servlet.ClientDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientDataServlet</servlet-name>
    <url-pattern>/ClientDataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostProjectServlet</display-name>
    <servlet-name>PostProjectServlet</servlet-name>
    <servlet-class>com.conn.servlet.PostProjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostProjectServlet</servlet-name>
    <url-pattern>/PostProjectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostDisplayServlet</display-name>
    <servlet-name>PostDisplayServlet</servlet-name>
    <servlet-class>com.conn.servlet.PostDisplayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostDisplayServlet</servlet-name>
    <url-pattern>/PostDisplayServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplyNowServlet</display-name>
    <servlet-name>ApplyNowServlet</servlet-name>
    <servlet-class>com.conn.servlet.ApplyNowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplyNowServlet</servlet-name>
    <url-pattern>/ApplyNowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserHomeServlet</display-name>
    <servlet-name>UserHomeServlet</servlet-name>
    <servlet-class>com.conn.servlet.UserHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserHomeServlet</servlet-name>
    <url-pattern>/UserHomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendMailOnTime</display-name>
    <servlet-name>SendMailOnTime</servlet-name>
    <servlet-class>com.conn.servlet.SendMailOnTime</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMailOnTime</servlet-name>
    <url-pattern>/SendMailOnTime</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubscribeServlet</display-name>
    <servlet-name>SubscribeServlet</servlet-name>
    <servlet-class>com.conn.servlet.SubscribeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubscribeServlet</servlet-name>
    <url-pattern>/SubscribeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientHomeServlet</display-name>
    <servlet-name>ClientHomeServlet</servlet-name>
    <servlet-class>com.conn.servlet.ClientHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientHomeServlet</servlet-name>
    <url-pattern>/ClientHomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostRemoveServlet</display-name>
    <servlet-name>PostRemoveServlet</servlet-name>
    <servlet-class>com.conn.servlet.PostRemoveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostRemoveServlet</servlet-name>
    <url-pattern>/PostRemoveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageUploadServlet</display-name>
    <servlet-name>ImageUploadServlet</servlet-name>
    <servlet-class>com.conn.servlet.ImageUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageUploadServlet</servlet-name>
    <url-pattern>/ImageUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjectListByFilterServlet</display-name>
    <servlet-name>ProjectListByFilterServlet</servlet-name>
    <servlet-class>com.conn.servlet.ProjectListByFilterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectListByFilterServlet</servlet-name>
    <url-pattern>/ProjectListByFilterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationImageUpload</display-name>
    <servlet-name>RegistrationImageUpload</servlet-name>
    <servlet-class>com.conn.servlet.RegistrationImageUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationImageUpload</servlet-name>
    <url-pattern>/RegistrationImageUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminHomeServlet</display-name>
    <servlet-name>AdminHomeServlet</servlet-name>
    <servlet-class>com.conn.servlet.AdminHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminHomeServlet</servlet-name>
    <url-pattern>/AdminHomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowProfile</display-name>
    <servlet-name>ShowProfile</servlet-name>
    <servlet-class>com.conn.servlet.ShowProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowProfile</servlet-name>
    <url-pattern>/ShowProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminStatusChangeServlet</display-name>
    <servlet-name>AdminStatusChangeServlet</servlet-name>
    <servlet-class>com.conn.servlet.AdminStatusChangeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminStatusChangeServlet</servlet-name>
    <url-pattern>/AdminStatusChangeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StatusChangeServlet</display-name>
    <servlet-name>StatusChangeServlet</servlet-name>
    <servlet-class>com.conn.servlet.StatusChangeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatusChangeServlet</servlet-name>
    <url-pattern>/StatusChangeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegIdProofUpload</display-name>
    <servlet-name>RegIdProofUpload</servlet-name>
    <servlet-class>com.conn.servlet.RegIdProofUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegIdProofUpload</servlet-name>
    <url-pattern>/RegIdProofUpload</url-pattern>
  </servlet-mapping>
</web-app>